<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiduw.xshopping.mapper.CartInfoMapper">
    <resultMap id="BaseResultMap" type="com.huiduw.xshopping.model.CartInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="goodsId" jdbcType="BIGINT" property="goodsid"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
        <result column="userid" jdbcType="INTEGER" property="userid"/>
        <result column="createTime" jdbcType="VARCHAR" property="createtime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, goodsId, count, userid, createTime
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cart_info
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from cart_info
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.huiduw.xshopping.model.CartInfo"
            useGeneratedKeys="true">
        insert into cart_info (goodsId, count, userid,
        createTime)
        values (#{goodsid,jdbcType=BIGINT}, #{count,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER},
        #{createtime,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.huiduw.xshopping.model.CartInfo"
            useGeneratedKeys="true">
        insert into cart_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsid != null">
                goodsId,
            </if>
            <if test="count != null">
                count,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="createtime != null">
                createTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsid != null">
                #{goodsid,jdbcType=BIGINT},
            </if>
            <if test="count != null">
                #{count,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.huiduw.xshopping.model.CartInfo">
        update cart_info
        <set>
            <if test="goodsid != null">
                goodsId = #{goodsid,jdbcType=BIGINT},
            </if>
            <if test="count != null">
                count = #{count,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                userid = #{userid,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                createTime = #{createtime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.huiduw.xshopping.model.CartInfo">
        update cart_info
        set goodsId = #{goodsid,jdbcType=BIGINT},
        count = #{count,jdbcType=INTEGER},
        userid = #{userid,jdbcType=INTEGER},
        createTime = #{createtime,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>